.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px;
  overflow: hidden;
}

.button {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.content {
  background-color: #6c0c0c;
  padding: 10px;
  width: 100%;
  overflow: hidden;
}

.expandIcon {
  transition: transform 0.3s ease;
}

.slideAnimation {
  transition: transform 0.3s ease, opacity 0.3s ease, width 0.3s ease; /* Include width in the transition */
}

.topIcon.expandedIcon,
.bottomIcon.expandedIcon {
  transform: rotate(180deg);
}

.topContent.expandedContent,
.bottomContent.expandedContent {
  transform: translateY(0);
  opacity: 1;
}

.topContent,
.bottomContent {
  transform: translateY(0);
  opacity: 0;
}

/* Corrected animation for left direction */
.leftContent.expandedContent,
.rightContent.expandedContent {
  transform: translateX(0);
  opacity: 1;
}

.leftContent,
.rightContent {
  transform: none; /* Change this to initial value */
  opacity: 0;
}

.top {
  align-items: flex-start;
  flex-direction: column;
}

.bottom {
  flex-direction: column-reverse;
  align-items: flex-end;
}

.left {
  flex-direction: row;
  align-items: center;
}

.right {
  flex-direction: row-reverse;
  align-items: center;
}

.leftIcon {
  margin-right: 10px;
}

.rightIcon {
  margin-left: 10px;
}

.rotatedIcon {
  transform: rotate(180deg);
}
